body{
    background-color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right-side {
    display: flex;
    align-items: center;

}

.menu ul{
    display: flex;
    gap: 50px;
    align-items: center;

}

.menu ul li a{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400px;
}

.nav-right-side button{
    margin-left: 96px;
    background-color: rgba(246, 95, 95, 1);
    border-radius: 100px;
    color: rgba(13, 13, 13, 1);
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400px;
}


.header-main{
    display: flex;
    margin-top: 100px;
}

.header-left{
    display: flex;
    flex-direction: column;
}

.header-right{
    display: flex;
    width: 480px;
    height: 580px;
    margin: 0 auto;
}

.heading .red{
    color: red;
}

/* .header-left .header-main .heading .span-header-left h1{
    color: white;
} */

.header-h1{
    color: white;
    font-size: 58px;
    width: 500px;
}

.heading .yellow{
    color: yellow;
}

.heading-p{
    color: white;
}